* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.header {
    max-width: 1440px;
    margin: 48px auto 0 auto;
}

.back {
    display: inline-flex;
    padding: 28px 34px;
    justify-content: center;
    align-items: center;
    gap: 5.003px;
    border-radius: 50.033px;
    border: 2px solid #009C4B;
    background-color: transparent;
    color: var(--Green, #009C4B);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
    margin-bottom: 70px;
}

.back:hover {
    color: #fff;
    background-color: #009C4B;
}

.back:active {
  background: #007538;
  border: 2px solid #007538;
}

.topLine {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

h1 {
    color: #212227;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h2 {
    color: #212227;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.info {
    max-width: 1440px;
    margin: 48px auto 0 auto;
}

.infoDiv {
    padding: 40px 0;
    border-top: 1px solid #444653;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.infoDiv:last-child {
    border-bottom: 1px solid #444653;
}

.leftTitle {
    color: #212227;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

.rightList {
    color: #212227;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.website {
    max-width: 1440px;
    margin: 127px auto 0 auto;
}

.mobileText {
    color: #009C4B;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 12px;
  }

  .topTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .link {
    margin-bottom: 0;
  }

  .laptop img {
    width: 100%;
  }

  .laptops {
    margin-top: 89px;
  }

  .leftLaptops {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    margin-bottom: 140px;
  }

  .rightLaptops {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    margin-bottom: 140px;
  }

  .title {
    color: #212227;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
  }

  .description {
    margin-top: 12px;
    color: #212227;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
  }

  .footer {
    max-width: 1440px;
    margin: 48px auto;
  }

  .footerButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottomBack {
    margin-bottom: 0;
  }