* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.header {
    max-width: 1440px;
    margin: 48px auto 0 auto;
}

.back {
    display: inline-flex;
    padding: 28px 34px;
    justify-content: center;
    align-items: center;
    gap: 5.003px;
    border-radius: 50.033px;
    border: 2px solid #009C4B;
    background-color: transparent;
    color: var(--Green, #009C4B);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
    margin-bottom: 70px;
}

.back:hover {
    color: #fff;
    background-color: #009C4B;
}

.back:active {
  background: #007538;
  border: 2px solid #007538;
}

.topLine {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

h1 {
    color: #212227;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h2 {
    color: #212227;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.info {
    max-width: 1440px;
    margin: 48px auto 0 auto;
}

.infoDiv {
    padding: 40px 0;
    border-top: 1px solid #444653;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.infoDiv:last-child {
    border-bottom: 1px solid #444653;
}

.leftTitle {
    color: #212227;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

.rightList {
    color: #212227;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.website {
    max-width: 1440px;
    margin: 127px auto 0 auto;
}

.mobileText {
    color: #009C4B;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 12px;
  }

  .topTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .link {
    margin-bottom: 0;
  }

  .click {
    width: 100%;
    margin-top: 40px;
  }

  .laptop img {
    width: 100%;
  }

  .landing {
    text-align: center;
    background: #F9F9F9;
    padding: 80px 0;
  }

  .landing img {
    width: 80%;
  }

  .mobileRight {
    text-align: right;
  }



  .mobile img {
    max-height: 290px;
  }

  .laptops {
    margin-top: 89px;
  }

  .leftLaptops {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    margin-bottom: 140px;
  }

  .rightLaptops {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    margin-bottom: 140px;
    margin-top: 140px;
  }

  .title {
    color: #212227;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
  }

  .description {
    margin-top: 12px;
    color: #212227;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
  }

  .footer {
    max-width: 1440px;
    margin: 48px auto;
  }

  .footerButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottomBack {
    margin-bottom: 0;
  }

  @media only screen and (max-width: 1000px) {
    .header, .info, .website, .footer {
      max-width: 95%;
  }

  .leftLaptops, .rightLaptops {
    grid-template-columns: 1fr;
    grid-template-areas:
    "AAA BBB"
    "CCC CCC"
    ;
    row-gap: 30px;
  }

  .AAA {
    grid-area: AAA;
  }

  .BBB {
    grid-area: BBB;
  }

  .CCC {
    grid-area: CCC;
  }

  .click {
    margin-top: 32px;
  }

  .mobile {
    text-align: right;
  }
}

@media only screen and (max-width: 577px) {

  .back {
    margin-bottom: 40px;
    width: 100%;
  }

  .topLine {
    grid-template-columns: 2fr 0 0 2fr;
  }

  .logo {
    text-align: right;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  .topLine img {
    width: 117px;
    height: 24px;
  }

  .infoDiv {
    grid-template-columns: 1fr;
    row-gap: 12px;
    padding: 20px 0;
  }

  .leftTitle {
    font-size: 18px;
  }

  .rightList {
    font-size: 14px;
    margin-left: 18px;
  }

  .rightListMobile {
    margin-left: 0;
  }

  .mobileText {
    font-size: 14px;
  }

  .mobile img {
    max-height: 149px;
  }

  .website {
    margin-top: 64px;
  }

  .laptops {
    margin-top: 0;
  }

  .title {
    font-size: 18px;
  }

  .description {
    font-size: 14px;
  }

  .footerButtons {
    flex-direction: column-reverse;
  }
}